.Users {
  box-sizing: border-box;
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 120px auto;
}

@media only screen and (max-width: 800px) {
  .Users {
    border: none;
  }
}

@media only screen and (min-width: 800px) {
  .Users {
    border: 2px solid #efefef;
  }
}

