.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0 auto 0;
}

@media only screen and (max-width: 800px) {
  .App {
    grid-template-columns: 0 auto 0;
  }
}

@media only screen and (min-width: 800px) {
  .App {
    grid-template-columns: auto 500px auto;
  }
}
